export(decoRDA)
export(decoNSCA)
export(decoReport)
export(AnnotateDECO)
export(plotDECOProfile)

exportClasses(deco)
exportMethods(summary)
exportMethods(show)
exportMethods(featureTable)
exportMethods(NSCAcluster)

import(stats)
import(methods)
import(Biobase)
import(SummarizedExperiment)
import(AnnotationDbi)
import(limma)
import(locfit)
import(BiocParallel)
import(BiocStyle)
import(cluster)
import(made4)
import(ade4)
import(RColorBrewer)

importFrom("foreign", "write.dta", "read.dta")
importFrom("gdata", "interleave")
importFrom("gplots", "textplot")
importFrom("scatterplot3d","scatterplot3d")
importFrom("sfsmisc", "integrate.xy")
importFrom("grDevices", "adjustcolor", "colorRampPalette", "dev.off", "pdf", "rainbow")
importFrom("graphics", "abline", "axis", "boxplot", "hist", "image",
           "layout", "legend", "lines", "mtext", "par", "pie", "plot",
           "plot.new", "points", "polygon", "rect", "segments",
           "stripchart", "text", "title")
importFrom("utils", "combn", "write.table",
           "setTxtProgressBar", "txtProgressBar")
